@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* *********Common CSS Start ************ */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #6c6c6f;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 27px;
}

a {
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

section {
  display: block;
  position: relative;
  padding: 50px 0;
  width: 100%;
}

/* *********Common CSS End ************ */

/* ********* HEADER START ************ */

.navbar ul {
  margin-right: 20px;
}

.header {
  position: relative;
}

.header .abs-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  display: block;
  max-width: 209px;
}

.primary-menu {
  position: relative;
  z-index: 99;
}

.primary-menu .mobile-menu {
  display: none;
}

.primary-menu ul {
  padding: 10px 0;
}

.primary-menu li a {
  color: #ff6464;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 0 20px;
}

.primary-menu li a:hover {
  color: #000;
  background-color: #e7c7bf;
}

@media screen and (max-width: 767px) {
  .navbar {
    position: fixed;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 41px 0px rgba(227, 227, 227, 1);
    -moz-box-shadow: 0px 0px 41px 0px rgba(227, 227, 227, 1);
    box-shadow: 0px 0px 41px 0px rgba(227, 227, 227, 1);
    width: 100%;
    z-index: 99;
  }

  .navbar ul {
    background-color: #fcf5ee;

    text-align: center;
    padding: 10px 15px;
  }

  .header {
    position: fixed !important;
    top: 0 !important;
    background-color: #fff;
    height: 60px;
    padding-bottom: 10px;

    -webkit-box-shadow: 0px 0px 41px 0px rgba(227, 227, 227, 1);
    -moz-box-shadow: 0px 0px 41px 0px rgba(227, 227, 227, 1);
    box-shadow: 0px 0px 41px 0px rgba(227, 227, 227, 1);
  }
  .btn-reserve {
    position: fixed;
    bottom: 3px;
    right: 5px;
    z-index: 99;
    border-radius: 50px !important;
  }

  .primary-menu .mobile-menu {
    display: block;
    color: #ec6069;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: -35px;
  }

  .primary-menu ul {
    background-color: #fcf5ee;
    display: none;
    text-align: center;
    padding: 10px 0;
  }
}

@media screen and (min-width: 768px) {
  .primary-menu li {
    display: inline-block;
  }
}

/* ********* HEADER END ************ */

/* ********* BANNER SECTION START ************ */

.banner {
  background: url(../images/flower.png) no-repeat left center/16.5%;
  padding: 12% 0;
}

.banner h2 {
  color: black;
  font-size: 45px;
  font-weight: bold;
  line-height: 75px;
  margin-bottom: 25px;
}

.banner p {
  color: #555;
  margin-bottom: 50px;
}

.banner .spa-img {
  width: 43.3%;
  position: absolute;
  right: 0;
  top: -64px;
  z-index: 0;
}

.btn {
  background-color: #a9001f;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.8;
  min-width: 170px;
  padding: 20px 15px;
  transition: 0.5s;
}

.btn:hover {
  color: #fff;
  background: rgb(148, 0, 27);
  background: linear-gradient(
    38deg,
    rgba(148, 0, 27, 1) 0%,
    rgba(255, 1, 1, 1) 100%
  );
  -webkit-box-shadow: -12px 12px 0px 0px rgba(236, 96, 105, 1);
  -moz-box-shadow: -12px 12px 0px 0px rgba(236, 96, 105, 1);
  box-shadow: -12px 12px 0px 0px rgba(236, 96, 105, 1);
}

.video-btn {
  color: #555;
  font-size: 15px;
  font-weight: 400;
}

.video-btn:hover {
  color: #a9001f;
}

.video-btn i {
  border-radius: 50%;
  background-color: #edd5cf;
  color: #ec6069;
  display: inline-block;
  line-height: 36px;
  text-align: center;
  margin-right: 10px;
  height: 35px;
  width: 35px;
}

@media screen and (max-width: 1199px) {
  .banner {
    padding-top: 15%;
  }

  .banner h2 {
    font-size: 55px;
    line-height: 60px;
  }
}

@media screen and (max-width: 676px) {
  .banner {
    padding-top: 130px;
  }

  .banner .spa-img {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  .banner {
    margin-top: 60px;
  }

  .banner h2 {
    font-size: 44px;
    line-height: 54px;
  }

  .btn-reserve-now {
    display: none;
  }

  .banner .video-btn {
    display: block;
    margin-top: 30px;
  }
}

@media screen and (min-width: 480px) {
  .banner .video-btn {
    margin-left: 15px;
  }
}

/* ********* BANNER SECTION END ************ */

/* ********* ABOUT SECTION START ************ */

.about {
  text-align: center;
  margin-top: 70px;
}

.about [class|="flower"] {
  position: absolute;
}

.about .flower-1 {
  left: 16%;
  top: 0;
  max-width: 160px;
}

.about .flower-2 {
  right: 135px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 88px;
}

.sec-heading {
  margin-bottom: 70px;
  position: relative;
  text-align: center;
}

.sec-heading img {
  max-width: 84px;
  margin: 0 auto 40px;
}

.sec-heading .tagline {
  color: #a9001f;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 0.8;
  margin-bottom: 27px;
}

.sec-heading .sec-title {
  color: #000;
  font-size: 38px;
  margin-bottom: 30px;
}

.sec-heading p {
  color: #888;
  margin-bottom: 1.7rem;
}

.btn-round {
  background-color: #ec6069;
  border-radius: 2px 15px 15px 15px;
}

@media screen and (max-width: 991px) {
  .about .flower-2 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .sec-heading .sec-title {
    font-size: 33px;
  }
}
/* ********* ABOUT SECTION END ************ */

/* ********* SERVICE SECTION START ************ */

.service .service-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.service .single-service {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  position: relative;
}

.service .single-service .service-hover {
  background-color: rgba(255, 129, 126, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: 0;
  visibility: visible;
  height: 100%;
  width: 100%;
}

.service .single-service .service-hover img {
  margin: 0 auto 20px;
  width: 47px;
}

.service .single-service .service-hover span {
  color: #fff;
  display: block;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.service .single-service:hover .service-hover {
  opacity: 1;
  visibility: visible;
}

/* ********* SERVICE SECTION END ************ */

/* ********* PROCEDURE SECTION START ************ */

.procedures {
  position: relative;
}

.post {
  text-align: center;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.post img {
  margin-bottom: 35px;
}
.post h4 {
  margin-bottom: 22px;
}

.post h4,
.post h4 a {
  color: #263a41;
  font-size: 22px;
}

.post p {
  margin-bottom: 39px;
}

.post .btn {
  background-color: #30383b;
  margin-bottom: 30px;
  padding: 15px;
}

.post:hover {
  box-shadow: none;
  border: 1px solid #ececec;
}

/* ********* PROCEDURE SECTION END ************ */

/* ********* TESTIMONIAL SECTION START ************ */

.bg-lightred {
  background-color: #fff4f6;
}

.testimonial .single-tst {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.testimonial .single-tst img {
  margin: 0 auto 45px;
  width: 59px;
}

.testimonial .single-tst p {
  color: #30383b;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 43px;
}

.testimonial .single-tst .client-info .thumb {
  border-radius: 50%;
  margin-bottom: 22px;
  height: 76px;
  width: 76px;
}

.testimonial .single-tst .client-info p {
  font-size: 22px;
  margin-bottom: 0;
}

.testimonial .single-tst .client-info p span {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 300;
}

/* ********* TESTIMONIAL SECTION END ************ */

/* ********* TEAM MEDIC SECTION START ************ */

.team .single-memb {
  position: relative;
  width: 100%;
}

.team .single-memb .memb-details {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px #f0f0f0;
  box-shadow: 0 5px 20px #f0f0f0;
  max-width: calc(100% - 60px);
  margin: -50px auto 0;
  padding: 30px;
  position: relative;
  text-align-last: center;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 1;
}

.team .single-memb .memb-details h6 {
  color: #263a41;
  font-size: 22px;
  margin-bottom: 20px;
}

.team .single-memb .memb-details span {
  display: block;
  margin-bottom: 15px;
}

.team .single-memb .memb-social {
  margin-top: -30px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.team .single-memb .memb-social a {
  border: 1px solid #30383b;
  border-radius: 50%;
  color: #30383b;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  margin: 0 5px;
  height: 30px;
  width: 30px;
}

.team .single-memb .memb-social a:hover {
  background-color: #ff817e;
  border-color: #ec6069;
  color: #fff;
}

.team .single-memb:hover .memb-details {
  margin-top: -84px;
}

.team .single-memb .memb-social {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1199px) {
  .team .single-memb .memb-details {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 991px) {
  .team .single-memb .memb-details {
    padding: 20px 10px;
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .team .single-memb {
    margin-bottom: 30px;
  }
}

/* ********* TEAM MEDIC SECTION END ************ */

/* ********* APPOINTMENT SECTION START ************ */
.appointment .v2 {
  padding-bottom: 0;
  border-bottom: 1px solid #fdd5d5;
}

.appointment .appointment-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.appointment .appointment-wrap figure {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
}

.appointment .appointment-wrap .appointment-form {
  -ms-flex-preferred-size: 600%;
  flex-basis: 100%;
  padding-left: 100px;
}

.appointment .appointment-wrap .appointment-form form {
  max-width: 650px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.appointment-form {
  background-color: #fff9f8;
}

.appointment-form .form-field {
  position: relative;
  width: 100%;
}

.appointment-form .form-field input,
.appointment-form .form-field textarea,
.appointment-form .form-field select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d4d3d3;
  color: #999;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 30px;
  width: 100%;
}

.appointment-form .form-field input::-webkit-input-placeholder,
.appointment-form .form-field textarea::-webkit-input-placeholder,
.appointment-form .form-field select::-webkit-input-placeholder {
  opacity: 1;
}

.appointment-form .form-field input:-ms-input-placeholder,
.appointment-form .form-field textarea:-ms-input-placeholder,
.appointment-form .form-field select:-ms-input-placeholder {
  opacity: 1;
}

.appointment-form .form-field input::-webkit-input-placeholder,
.appointment-form .form-field textarea::-webkit-input-placeholder,
.appointment-form .form-field select::-webkit-input-placeholder {
  opacity: 1;
}

.appointment-form .form-field input::placeholder,
.appointment-form .form-field textarea::placeholder,
.appointment-form .form-field select::placeholder {
  opacity: 1;
}

.appointment-form .form-field select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.appointment-form .form-field .select-field {
  width: 100%;
}

@media screen and (max-width: 1800px) {
  .appointment .appointment-wrap .appointment-form {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 30px 15px;
  }

  .appointment .appointment-wrap .appointment-form form {
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) {
  .appointment-form .form-field .half-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .appointment-form .form-field .half-width input,
  .appointment-form .form-field .half-width .select-field {
    width: 49%;
  }
}

/* ********* APPOINTMENT SECTION END ************ */

/* ********* FOOTER SECTION START ************ */

.footer {
  background-color: #fff9f8;
  padding: 80px 0 60px;
}

.footer .foo-logo {
  margin: 0 auto;
  max-width: 100px;
}

.footer .foo-nav {
  position: relative;
  margin: 30px 0;
}

.footer .foo-nav li a {
  color: #263a41;
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 20px;
}

.footer .foo-nav li a:hover {
  color: #ff817e;
}

.footer .foo-social {
  margin-bottom: 30px;
}

.footer .foo-social a {
  border-right: 1px solid #b1b4bb;
  color: #3a414e;
  display: inline-block;
  font-size: 14px;
  line-height: 0.5;
  padding: 0 10px;
}

.footer .foo-social a:hover {
  color: #ff817e;
}

.footer .copyright {
  font-size: 13px;
  color: #888888;
  margin-bottom: 0;
}

.footer .copyright a {
  color: #888;
}

.footer .copyright a:hover {
  color: #a9001f;
}

@media screen and (min-width: 768px) {
  .footer .foo-nav li {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .footer .foo-nav ul {
    background-color: #fcf5ee;
    display: none;
    text-align: center;
    padding: 10px 0;
  }

  .footer .foo-nav li a {
    padding: 10px 15px;
  }
}

/* ********* FOOTER SECTION END ************ */
